:root {
    /* --s3purple: 175, 80, 255; */
    --s3purple: rgb(175, 80, 255);
    --s3Lpurple: rgb(203, 141, 255);
    --s3Dpurple: rgb(122, 57, 175);
    --s3yellow: rgb(234, 255, 61);
    --alpha: 0.8;
}

@font-face {
    font-family: "Splatfont2";
    src: url(../assets/font/Splatfont2.ttf) format("truetype");
}

* {
    color: #eeeeee;
    font-family: "Splatfont2", sans-serif;
    /* background: #222222; */
    text-align: center;
}

body {
    background: url(../assets/images/squid-black.png);
    height: 100vh;
    overflow: hidden;
}

.navbar {
    height: 50px;
    width: 100%;
    background-color: rgb(218, 165, 32, 0.5);
    font-size: 1.2rem;
    text-align: right;
}

.nav-link {
    margin: 5px;
}

button {
    color: #333333;
    background-color: var(--s3yellow);
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;
    padding: 0 1rem;
}

.kit-inline {
    height: 50%;
    display: inline-block;
    margin: 0 30px;
}

.weapon-icon {
    max-width: 128px;
}

.small-icon {
    width: 64px;
    height: auto;
}

.select-panel {
    width: clamp(300px, 40vw, 400px);
    height: clamp(200px, 25vh, 250px);
    margin: auto;
    border-radius: 10px;
    border: 2px solid var(--s3Lpurple);
    background-color: var(--s3Dpurple);
}

.weapon-panel {
    width: clamp(300px, 40vw, 800px);
    /* height: clamp(300px, 20vh, 600px); */
    margin: auto;
    border-radius: 10px;
    border: 2px solid var(--s3Lpurple);
    background-color: var(--s3purple);
    /* background-color: rgba(var(--s3purple), var(--alpha)); */
}

.inline-box {
    display: inline;
}

.title-font {
    font-size: 2rem;
    display: block;
}

.main-grid {
    width: 100%;
    height: 95vh;
    border:1px solid blue;
}

.grid-col {
    display: inline-block;
    width: 30%;
    /* height: 100%; */
    border: 1px solid red;
}

.cell {
    /* background-color: black; */
    border: 1px solid grey;
}